@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
      padding: 0;
      margin: 0;
      border: none;
      color: #000;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
}

/* ---------   Header Styles   --------- */
header {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      border: 1px solid #000;
      max-width: 90%;
      max-width: 1400px;
      min-height: 112px;
      justify-content: space-around;
      align-items: center;
}
header nav {
      width: 40%;
}
header nav ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
header nav ul li {
      display: block;
}
header nav a {
      font-size: 14px;
      padding: 15px 44px;
}
.header__logo {
      position: relative;
}
.header__logo::before,
.header__logo::after {
      position: absolute;
      top: calc(50% - 10px);
      content: "";
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 100%;
      border: 1px solid #000;
}
.header__logo::before {
      left: -40px;
      background: #fb4b4d;
}
.header__logo::after {
      right: -40px;
      background: #8b83f6;
}
.btn-red {
      background: #fb4b4d;
      color: #fff;
}

/* ---------   Section Styles   --------- */
section {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      border: 1px solid #000;
      border-top: none;
      max-width: 90%;
      max-width: 1400px;
}

/* ---------   Carousel Styles   --------- */

.carousel {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 30px;
      width: 100%;
      padding: 23px 0;
      border-bottom: 1px solid #000;
      border-top: 1px solid #000;
      overflow: hidden;
}
.carousel__item {
      display: flex;
      justify-content: center;
      height: 30px;
      min-width: 350px;
      padding-right: 15px;
      font-size: 17px;
      line-height: 30px;
      letter-spacing: 0.5px;
      animation: 5s linear infinite carousel-animation;

}
.carousel__item img {
      margin-left: 30px;
}
@keyframes carousel-animation{
      0%{
            transform: translateZ(0);
      }
      100%{
            transform: translate3d(-100%, 0,0 );
      }
}

/* ---------   Hero Section Styles   --------- */

.hero-left {
      display: flex;
      width: 50%;
      flex-direction: column;
      border-right: 1px solid #000;
}
.hero-left__image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 30px 20px;
}
.hero-right {
      display: flex;
      width: 50%;
      flex-direction: column;
}
.hero-right__title {
      font-size: 58px;
      text-align: center;
      padding: 24px 80px 15px;
      border-bottom: 1px solid #000;
}
.hero-right__image {
      padding: 20px;
}

/* ---------   Products Section Styles   --------- */
.products{
      display: flex;
      flex-direction: column;
}
.products__title{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 59px 0;
      border-bottom: 1px solid #000;
}
.products__title h2{
      width: 50%;
      font-size: 65px;
      line-height: 72.6px;
      letter-spacing: 0.5px;
      text-align: center;
}
.products__title img:nth-child(3){
      transform: rotateY(180deg);
}
.products__list{
      position: relative;
      margin: 20px;
}
.list__decorations{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
}
.list__decorations img{
      height: fit-content;
}
.product-items{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.product-items li{
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      background-image: url(./assets/product-bg.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 400px;     
      height: 620px;
      padding: 20px;
}
.product-item__subtitle{
      font-size: 18px;
      line-height: 28.1px;
      letter-spacing: 0.5px;
      padding-bottom: 12px;
}
.product-item__title{
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.5px;
      padding-bottom: 12px;
}
.products_image{
      padding: 20px;
}